<h2>Export Grid to Excel Example</h2>

<div id="grid" style="width:700px;"></div>

<script src="http://demos.kendoui.com/content/shared/js/people.js"></script>
<script src="~/Scripts/Index.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        ExportExcel.Index.init();
    });

</script>