body 
{
    width: 100%;
    height: 100%;
}

header 
{
    margin-bottom: 10px;
}

#content 
{
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#log 
{
    padding-bottom: 10px;
}

.log li 
{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    list-style-type: none;
}

#panelbar 
{
    margin-bottom: 20px;
}

footer 
{
    width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

dl dt { 
	float:left;
	font-weight:bold;   
	padding:5px;
	width:30px;
	display: inline;
}
 
dl dd {
	padding: 5px;
}

.item a 
{
    float: left;
    margin: 0 5px 0 0
}

#new-item 
{
    width: 600px;
    margin-bottom: 10px;
    margin-top: 8px;
    
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.add-button 
{
    margin-top: 8px;
    margin-left: 10px;
    width: 75px;
    height: 35px;
    float: right;
}

.strikethrough 
{
    color: Red;
    text-decoration: line-through;
}


#items li 
{
    list-style: none;
    margin-bottom: 10px;
    width: 592px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


#title h2 
{
    position: relative;
    float: left;
}

#title button 
{
    height: 35px;
    margin-bottom: 5px;
    float: right;
}

#saveDeletes
{
    -webkit-transition: opacity 1s ease-out; 
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    opacity: 0; 
}

.name input 
{
    display: none;
    width: 500px;
}

li .cancel 
{
    display: none;
    margin-top: auto;
}

li .delete
{
    float: right;
}

li .save 
{
    float: right;
    display: none;
}

.description 
{
    margin-left: 68px;
}

header img 
{
    float: left;
}